/* src/front/styles/createCategoryModal.css */
/* .custom-modal {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f5e7c7;
    border-radius: 10px;
    padding: 20px;
  }
  
  .modal-title-center {
    text-align: center;
  }
  
  .btn-danger {
    margin-top: 20px;
  }
   */