/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: #f2f2f2;
    --red: #E45151;
    --dark: #333333;
    --turquoise: #1baeae;
}

.button-accent {
    font-weight: bold;
    color: #ffffff;
    background-color: var(--red);
    border-color: var(--red);
}

.button-default {
    font-weight: bold;
    color: var(--dark);
    border-color: var(--dark);
}

body {
    background-color: var(--light);
    font-family: 'Roboto', Arial, sans-serif;
}

.scrollable-section {
    height: 25vw;
    overflow-x: hidden;
    overflow-y: auto;
}

.recipe_button {
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.drop-shadow {
    box-shadow: 0 8px 8px 3px #e7e7e7;
}

.round-button-large {
    background-color: #dddddd;
    color: #777777;
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    transition: background-color 0.3s ease;
}

.round-button-large:hover {
    background-color: var(--red);
    color: white;
}

.round-button-small {
    background-color: #dddddd;
    color: #777777;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    transition: background-color 0.3s ease;
}

.round-button-small:hover {
    background-color: var(--red);
    color: white;
}

.list-group-item:hover{
    color: white;
    transition: .7s;
    background: var(--turquoise);
}

.list-group-item:hover a{
    color: white;
    transition: .7s;
}

.description {
    font-size: 14px;
}

.search-query-clear {
    width: 3rem;
    height: 2.8rem;
    margin-right: -3rem;
    border: none;
    outline: none;
    z-index: 1;
    background: transparent;
}

.search-query-input {
    width: 100%;
    height: 2.8rem;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    font-size: 1rem;
}

.search-query-submit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: var(--red);
    color: white;
    border: none;
    outline: none;
    border-top-right-radius: 1.625rem;
    border-bottom-right-radius: 1.625rem;
}

.search-query-submit:hover {
    cursor: pointer;
}