/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: #f2f2f2;
    --red: #E45151;
    --dark: #333333;
    --turquoise: #1baeae;
}

.button-accent {
    font-weight: bold;
    color: #ffffff;
    background-color: var(--red);
    border-color: var(--red);
}

.button-default {
    font-weight: bold;
    color: var(--dark);
    border-color: var(--dark);
}

body {
    background-color: var(--light);
    font-family: 'Roboto', Arial, sans-serif;
}

.scrollable-section {
    height: 25vw;
    overflow-x: hidden;
    overflow-y: auto;
}