.login-form {
    margin-top: 9em;
}

.video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-box {
    margin: 30px 0;
}

.user-box input {
    width: 100%;
    background: transparent;
    outline: none;
    border: 1px solid;
    border-radius: 50px;
    padding: 15px;
}

.login-form h2 {
    font-weight: 1000;
}