a {
    text-decoration: none;
    color: #777777;
}

.search-section {
    height: 300px;
}

.label {
    font-size: .625rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
}

.category-image {
    width: 200px;
    height: 200px;
    border-radius: 40px;
}

.category-box {
    color: white;
    text-align: center;
    border-radius: 50px;
    background: var(--turquoise);
    padding: 20px;
    height: 200px;
    position: relative;
    transition: background-color 0.3s ease;
}

.category-box:hover {
    background: var(--dark);
}

.category-box .delete-board {
    color: #777777;
    border-radius: 100%;
    background: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s ease;
    display: none;
}

.category-box:hover .delete-board {
    display: flex;
}

.category-box:hover .delete-board:hover {
    color: white;
    background: var(--red);
}

/* Slide Animation */
.slide-enter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 1000ms ease-out, opacity 1000ms ease-out;
}

.slide-enter-active {
    max-height: 1000px; /* Adjust based on the expected max height */
    opacity: 1;
}

.slide-exit {
    max-height: 1000px; /* Adjust based on the expected max height */
    opacity: 1;
    overflow: hidden;
    transition: max-height 1000ms ease-in, opacity 1000ms ease-in;
}

.slide-exit-active {
    max-height: 0;
    opacity: 0;
}